<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.review.dao.UserDao">
    <resultMap id="user" type="com.example.review.bean.User">
        <result property="u_Id"  column="id"></result>
        <result property="u_userName" column="username"></result>
        <result property="u_password" column="password"></result>
    </resultMap>
<select id="userLogin" parameterType="com.example.review.bean.User">
select * from  userinfo where username=#{u_userName}and password=#{u_password}
</select>
</mapper>